.main {
  padding: 2rem;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gradientText {
  background-image: linear-gradient(150deg,#a252ee,#6962f7);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 0 0 10px rgba(138, 43, 226, 0.5);
}

.titleContainer {
  margin-top: 4rem;
  padding: 1rem;
}

.title {
  font-size: 50px;
  font-weight: 800;
  display: flex; 
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.animate {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 200ms;
}

@keyframes fadeIn {
  from {
    transform: translateY(-1rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.subTitle {
  animation-delay: 0.25s;
  margin-top: 1.2rem;
  font-size: 18px;
  max-width: 525px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.terminal {
  animation-delay: 0.5s;
  margin-top: 1.5rem;
  width: 600px;
  border-radius: 5px;
}

.buttonContainer {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: apart;
  gap: 1rem;
}

.black {
  color: black;
  background-color: white;
  font-size: 15px;
  font-weight: 600;
  margin-left: 0.5rem;
}

.githubButton {
  animation-delay: 0.7s;
  background-color: white;
  padding: 0.5rem 1rem;
  width: 8rem;
  border-radius: 5px;
  cursor: pointer;
  font: inherit;
  transition: 0.3s;
}

.githubButton:hover {
  scale: 1.1;
  transition: 0.3s;
  box-shadow:rgb(57, 6, 105) 2px 2px 8px 8px;
  transition-property: scale, box-shadow;
  border: 1px;
  border: solid;
  border-color: purple;
}