.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gradientText {
  background-image: linear-gradient(150deg,#a252ee,#6962f7);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 0 0 10px rgba(138, 43, 226, 0.5);
}

.titleContainer {
  margin-top: 12rem;
  padding: 1rem;
}

.title {
  font-size: 50px;
  font-weight: 800;
  display: flex; 
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.animate {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 200ms;
}

@keyframes fadeIn {
  from {
    transform: translateY(-1rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.subTitle {
  animation-delay: 0.25s;
  margin-top: 1.2rem;
  font-size: 18px;
  max-width: 500px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}