.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gradientText {
  background-image: linear-gradient(150deg,#a252ee,#6962f7);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 0 0 10px rgba(138, 43, 226, 0.5);
}

.titleContainer {
  margin-top: 12rem;
}

.title {
  font-size: 45px;
  font-weight: bold;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.subTitle {
  margin-top: 1rem;
  font-size: 18px;
  max-width: 550px;
}